:root{
    --backgroundColor:#292929;
    --seatColor:#444451;
    --textColor:#777;
    --reservedColor:#fff;
    --selectedColor:#f6eb6f;
    --infoBackground:rgba(0,0,0,0.2);

    --transistion:all .5s ease;
    --boxShadow:0 3px 8px rgba(255,255,255,0.7);
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color: var(--backgroundColor);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.screen{
    margin: 20px 0;
    box-shadow: var(--boxShadow);
    height: 100px;
    width: 200px;
    
}
.screen img{
    width: 100%;
    height: 100%;
}
.seatsRow{
    display: flex;
}
.seat.selected{
    color: var(--selectedColor);
}
.seat.reserved{
    color: var(--reservedColor);
}
.seat{
    color: var(--seatColor);
    font-size: 20px;
    margin: 5px;
    transition: var(--transistion);
}
.seat:not(.reserved):hover{
    transform: scale(1.2);
    cursor: pointer;
}
.movie-list{
    margin: 20px 0;
}
.info{
    background-color: var(--infoBackground);
    display: flex;
    padding: 5px 10px;
    color: var(--textColor);
}
.info li{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.info-text{
    color: var(--reservedColor);
    margin: 5px 0;
    display: none;
}
.info-text.open{
    display: block;
}
.info-text span{
    color: var(--selectedColor);
}